*.py[co]

*.swp
.DS_Store
.eggs
.tox
.coverage.*
*/__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
docs/_build/*
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
venv
/.idea/google-java-format.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pyboleto.iml
/.idea/vcs.xml
